//将会被自动应用的全局样式文件，会生成在最终的 CSS 文件结尾，具有比默认样式更高的优先级。
summary + pre {
  color: cyan;
}

::selection {
  background: lightseagreen;
  color: cornsilk;
}

.content__default code {
  font-size: 1rem !important;
}

.content__default pre code {
  font-size: 0.85rem !important;
}

.content__default pre[class*="language"] {
  padding-top: 2.5rem !important;
}

.content__default pre[class*="language"]::before {
  position: absolute;
  top: 1rem;
  left: 3.5rem;
  content: "";
  width: 11px;
  height: 11px;
  border-radius: 50%;
  /* 	第一个小圆点 */
  background-color: #ff5f56;
  /* 	后面两个小圆点 */
  -webkit-box-shadow: 18px 0 0 0 #ffbd2e, 36px 0 0 0 #27c93f;
  box-shadow: 18px 0 0 0 #ffbd2e, 36px 0 0 0 #27c93f;
}
